::-webkit-scrollbar {
  width: 9px;
  height: auto;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  width: auto;
  height: auto;
  background-color: auto;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-track-piece {
  width: auto;
  height: auto;
  background-color: auto;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  width: auto; 
  height: auto;
  background-color: auto; 
  -webkit-border-radius: 3px;
  border: 1px solid rgba(165,165,165,0.9);
}
::-webkit-scrollbar-thumb:active {
  width: auto;
  height: auto;
  background-color: #444444;
  -webkit-border-radius: 3px;
  border: 1px solid rgba(165,165,165,0.9);
}
